.border-cyan-300.border-2.w-96.mx-auto.my-5 
    div(style='background-color:#adf1fb;')
        label.v-checkbox
        input(type="checkbox" unchecked)
        .v-label #{date}~ #{item} at  #{location} ... (#{notes})